#tweet-container {
	border: 1px solid darkgrey;
	border-radius: 0.5rem;
	background-color: white;
}

#tweet-container header {
	background-color: #eee;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.photo {
	width: 15%;
	height: 15%;
	border-radius: 0.5rem;
	padding-top: 0.5rem;
	padding-left: 0.5rem;
	padding-bottom: 0.5rem;
}

.author {
	font-weight: bold;
	font-size: 180%;
	text-align: left;
	padding-top: 0.5rem;
}

.arobase {
	padding-right: 0.5rem;
}

.clearfix::after {
	display: block;
	content: "";
	clear: both;
}

.text {
	text-align: left;
	margin-left: 0.7rem;
	margin-bottom: 2rem;
	margin-top: 2rem;
	border-bottom: 2rem
}

#tweet-container footer {
	text-align: left;
	border-top: 1px solid lightgrey;
	padding-left: 0.5rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.tweet:hover {
	filter: brightness(95%);
}